@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 244 241 240;
  --foreground: 18 18 18;
  --accent: 26 71 42;
  scrollbar-gutter: stable;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: var(--font-inter);
}

::selection {
  background-color: rgb(var(--accent) / 0.15);
  color: inherit;
}

@media (pointer: fine) {
  ::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the vertical scrollbar */
  }
  
  /* Style the track (the background) */
  ::-webkit-scrollbar-track {
    background: rgb(var(--background));
    border-radius: 0px; /* Optional: adds rounded corners to the track */
  }
  
  /* Style the thumb (the draggable handle) */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0px; /* Optional: adds rounded corners to the thumb */
  }
  
  /* Add a hover effect to the thumb */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .scroller {
    scrollbar-width: thin;
    scrollbar-color: #888 rgb(var(--background));
  }
}
